@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@400;700&display=swap');
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg : rgb(34, 34, 34);
}

.darkMode{
    --bg : rgb(255, 255, 255);
}
body{
    background-color: var(--bg);
    color: rgb(230, 230, 230);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Gentium Basic', serif;
    line-height: 1.5;
}
.light-dark-btn {
    position: absolute;
    top: -3rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.card{
    box-shadow: 0 0 5px rgb(0, 0, 0);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}
.global-container{
    position: relative;
    margin: 2rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
}

h1,h2, h4{
    
    margin-bottom: .5rem;
}
h1{
    text-align: center;
    margin-bottom: 3rem ;
    line-height: 1;

}

button{
    border: none;
    background-color: transparent;
    box-shadow: 0 0 5px rgb(5, 5, 5);
    border-radius: 10px;
    padding: 1rem;
    display: block;
    margin: 0 auto;  
    cursor: pointer;
    transition: box-shadow .3s;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

button:hover{
    box-shadow: 0 0 7px rgb(5, 5, 5);
}

input[type="radio"]{
    transform: scale(1.5);
    margin-right: .5rem;
}

.error{
    background-color: crimson;
    animation: error .5s;
}
@keyframes error{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-1rem);
    }
    66%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}
.succes{
    background-color: green;
}

.result {
    text-align: center;
    margin: 1rem 0;
    display: none;
}

.emoji{
    font-size: 3rem;
}